
.typing-indicator {
  background-color: #E6E7ED;
  will-change: transform;
  width: auto;
  border-radius: 50px;
  padding: 10px;
  display: inline-block;
  margin: 0 auto;
  position: relative;
  margin-left: 10px;
  animation: 2s bulge infinite ease-out;
}


.typing-indicator span {
  height: 5px;
  width: 5px;
  float: left;
  margin: 0 1px;
  background-color: #9E9EA1;
  display: block;
  border-radius: 50%;
  opacity: 0.4;
}

.typing-indicator span:nth-of-type(1) {
  animation: 1s blink infinite 0.444s;
}

.typing-indicator span:nth-of-type(2) {
  animation: 1s blink infinite 0.777s;
}

.typing-indicator span:nth-of-type(3) {
  animation: 1s blink infinite 0.888s;
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}
@keyframes bulge {
  50% {
    transform: scale(1.1);
  }
}